extends layout

block content
  section
    h1 #{title}
    div.product-cards-container
      each product in products
        article.product-card
          a.product-card-link(href=product.url)
            div.product-card-image-container
              if product.image
                img.product-card-image(src="/uploads/" + product.image alt=product.name)
          span.product-card-price $#{product.price}
          p.product-card-name #{product.name}
      
      else
        p There are no products in this category.
  br
  section
    button
      a(href=category.url+'/delete') Delete Category
    button
      a(href=category.url+'/update') Update Category
  br