extends layout

block content
  section
    if products.length

      p #[strong Delete the following products before attempting to delete this category.]

      section
        div(class='product-cards-container')
          each product in products
            article(class='product-card')
              a(href=product.url class='product-card-link')
                div(class='product-card-image-container')
                  if product.image
                    img(src="/uploads/" + product.image alt=product.name class="product-card-image")
              span(class='my-1 product-card-price') $#{product.price}
              p(class='product-card-name') #{product.name}

    else
      p Do you really want to delete #{category.name}?

      form(method='POST' action='')
        div.form-group
          input#categoryid.form-control(type='hidden',name='categoryid', required='true', value=category._id )

        button(type='submit') Delete