extends layout

block content
  section
    if products.length

      p #[strong Delete the following products before attempting to delete this category.]

      section
        div.product-cards-container
          each product in products
            article.product-card
              a.product-card-link(href=product.url)
                div.product-card-image-container
                  if product.image
                    img.product-card-image(src="/uploads/" + product.image alt=product.name)
              span.product-card-price $#{product.price}
              p.product-card-name #{product.name}

    else
      p Do you really want to delete #{category.name}?

      form(method='POST' action='')
        div.form-group
          input#categoryid.form-control(type='hidden',name='categoryid', required='true', value=category._id )

        button(type='submit') Delete