extends layout

block content
  div.hero
  br
  section
    div.list-header
      h1 Categories 
      span.span-add-item
        a(href='/catalog/category/create') Add category
    div.category-cards-container
      each category in category_list
        article.category-card
          a.category-card-link(href=category.url)
            div.category-card-image-container
              if category.image
                img.category-card-image(src="/uploads/" + category.image alt=category.name)
          p.category-card-name #{category.name}
  br
  section
    div.list-header
      h1 Products 
      span.span-add-item
        a(href='/catalog/category/create') Add product
    div.product-cards-container
      each product in product_list
        article.product-card
          a.product-card-link(href=product.url)
            div.product-card-image-container
              if product.image
                img.product-card-image(src="/uploads/" + product.image alt=product.name)
          span.product-card-price $#{product.price}
          p.product-card-name #{product.name}
  br