extends layout

block content
  section.product-detail-container
    div.product-detail-image-container
      if product.image
        img.product-detail-image(src="/uploads/" + product.image alt=product.name)
    div.product-detail-info-container
      div.product-detail-info
        h2.product-detail-heading= product.name
        p.product-detail-price $#{product.price}
        p.mt-10 #[strong Stock:] #{product.number_in_stock}
        p.mt-10 #[strong Overview:] #{product.description}
      div.product-detail-buttons
        button
          a(href=product.url+'/delete') Delete Product
        button
          a(href=product.url+'/update') Update Product